<html>
<head>
	<title>Title</title>
</head>
<body>

	<header></header>

	<nav></nav>

	<section>
		{% block container %}{% endblock %}
	</section>

	<aside></aside>

	<footer></footer>

</body>
</html>